APScheduler==3.6.3
asn1crypto==0.24.0
backports-abc==0.5
certifi==2020.12.5
click==7.1.2
configparser==3.5.0b2
cryptography==2.6.1
decorator==4.4.2
entrypoints==0.3
enum34==1.1.6
feedparser==6.0.0
Flask==1.1.2
funcsigs==1.0.2
futures==3.3.0
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==1.1.1
peewee==3.14.0
pycrypto==2.6.1
PyGObject==3.30.4
python-telegram-bot==13.1
pytz==2020.5
pyxdg==0.25
SecretStorage==2.3.1
sgmllib3k==1.0.0
singledispatch==3.4.0.3
six==1.12.0
tornado==5.1.1
tzlocal==2.1
Werkzeug==1.0.1
