<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="">
<div style="text-align: center;margin-top: 50px">
    <h1>Rss Pusher</h1>
        <p>
            Author: <a href="https://t.me/bakabie">@bakabie</a>
            <br>
            Blog: <a href="https://9bie.org">⑨BIE</a>
            <br>
            Github: <a href="https://github.com/9bie/rsspusher">Rss Pusher</a>
            <br>
            Bot: <a href="https://t.me/rsspusher_bot"> @rsspusher_bot</a>
        </p>
    </div>
</body>
</html>